@import "../../variables.scss";

.hotels-list {
  margin: 0 auto 100px;
  padding: 0 20px;
  max-width: 1160px;
}
.hotels-list__ {
  &hotel {
    margin: 10px 0;
    width: 100%;
    border: 1px solid var(--transparent-12);
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: var(--transparent-22) 0px 2px 2px 0px;
  }
  &header-hotel {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  &images {
    margin: 30px 15px;
    position: relative;
    background: var(--hotel-image);
  }
  &image {
    width: 200px;
    height: 150px;
    border-radius: 8px;
  }
  &btn {
    padding: 5px;
    position: absolute;
    top: 75px;
    transform: translateY(-50%);
    color: var(--white);
    cursor: pointer;
  }
  &btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  &btn--prev {
    left: 0px;
    border-radius: 0 3px 3px 0;
  }
  &btn--next {
    right: 0px;
    border-radius: 3px 0 0 3px;
  }
  &icon {
    font-size: 40px;
  }
  &star {
    margin: 24.9px 0;
    font-size: 30px;
  }
  &star--gold {
    color: var(--gold);
  }
  &star--grey {
    color: var(--white-230);
  }
  &room {
    display: flex;
    border-bottom: 1px solid var(--transparent-12);
  }
  &room-details {
    padding: 0 20px;
    width: 20%;
  }
  &room-name {
    margin: 10px 0;
    font-weight: bold;
  }
  &room-occupancy {
    margin: 4px 0;
  }
  &room-description {
    padding: 10px;
    width: 80%;
  }
}
