@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;800&display=swap");
@import "./variables";
* {
  box-sizing: border-box;
  list-style: none;
  font-size: 16px;
  font-family: "Merriweather Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--white-250);
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
}
